    /* reset */
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .container {
        /* width: 600px; */
        max-width: 600px;
        margin: 30px auto;
        /* border: 1px solid red; */
        /* margin-left: 100px;
        padding-right:200px; */
    }

    .box {
        background: #f4f4f4;
        border: 1px solid #333;
        padding: 20px;
        margin-bottom: 15px;
    }

    .box p {
        text-align: right;
    }
   


    /* #box-2 {
        float: left;
        width: 68%;
    }

    #box-3 {
        float: right;
        width: 32%;
    }  */
