body {
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    width: 100px;
    height: 100px;
}

#box-1 {
    background: blue;
    /* margin: auto; */
    /* position: relative;  */
    /* position: absolute;  */

    left: 100px;
    top: 300px;
    /* bottom: ;
    right: ; */

}

#box-2 {
    background: red;
    position: absolute;
    left: 100px;
} 

#box-3 {
    background: green;
    position: relative;
    z-index: 100;
}

.container {
    width: 500px;
    height: 500px;
    background: #ccc;
    /* position: relative; */
}

#box-4 {
    background: yellow;
    /* position: absolute;
    left: 200px;
    top: 200px; */

}

#box-5 {
    background: aqua;
}

#box-6 {
    background: rgb(255, 0, 242);
    position: fixed;
    top:100px;
    z-index: 2;

}

#box-7 {
    background: rgb(46, 46, 95);
    z-index: 3;
    position: relative;
    /* position: sticky;
    top: 100px; 
    z-index: 3; */
}
